img{
    height: 400px;
    font-weight: 400px;
}
.first-section{
    display: flex;
    background-color: #E5E7EB;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
}
.first-section p{
    text-align: center;
    font-size: 20px;
    color: gray;
}

.first-section h3{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
.first-section h2{
    font-family: 'Times New Roman', Times, serif;
    color:#F49E3F;
    font-size: 30px;
    
     
}
.first-div{
padding-top: 50px;
}
.second-div{
    padding-left: 400px;
}
/* second section */
.second-section{
    
    background-color: #23263A;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
color: white;
}

.parent-div{
    display: flex;
}
.second-second-div{
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.second-first-div{
    padding-left: 100px;

}
.second-third-div{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.second-third-div h1{
    font-size: 40px;
}



/* third section */
.third-section{
    text-align: center;
    background-color: rgb(28, 10, 45);
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
}
.third-first-div{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.extra-div{
    border-bottom: 1px solid red;
    width: 140px;
    margin-bottom: 40px;
    margin-left:660px;
    
}
.third-second-div img{
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}
.third-second-div{
    display: flex;
    justify-content: center;
    padding-top: 35px;

}